<!-- jscpd:ignore-start -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Devcontainers community templates</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="https://github.com/devcontainers-community/templates#readme"
            >GitHub</a
          >
        </li>
        <li>
          <a href="https://containers.dev/templates">Official templates</a>
        </li>
      </ul>
    </nav>

    <h1>Devcontainers community templates</h1>

    <ul>
      <% for (const template of templates) { %>
        <li>
          <strong><a href="<%= template.id %>/"><%= template.name %></a>:</strong>
          <%= template.description %>
        </li>
      <% } %>
    </ul>
  </body>
</html>
<!-- jscpd:ignore-end -->
